
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="row jumbotron">

    <div class="col-md-8">
        <h2>Description - Sameer Alli Ismail Hassen</h2>
        <p>
            He is charming and kind - the warmth of his personality is indiscriminate, and consequently makes all feel welcome and included.
            His humour always brightens things up when work feels monotonous, giving the group a renewed sense of energy.
            He is dedicated.
        </p>
    </div>

    <div class="col-md-4">
        <img src="~/Media/Images/toyota86.jpg"/>
    </div>  

</div>
