@{
    ViewBag.Title = "Home Page";
}

<div>
    @ViewBag.Message;
</div>

<div class="row jumbotron">
    
    <div class="col-md-8">
        <h2>Description</h2>
        <p>This program allows you to upload three types of files. Select your radio button and upload your files :)</p>
    </div>

    <div class="col-md-4">
        <h2>Option Select</h2>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

    <form>
        <div class="form-group">
            @Html.RadioButton("FileType", "Document")<span>Documents</span><br>
        </div>
        <div class="form-group">
            @Html.RadioButton("FileType", "Image")<span>Images</span><br>
        </div>
        <div class="form-group form-check">
            @Html.RadioButton("FileType", "Video")<span>Video</span><br>
        </div>
        <div class="form-group form-check">
            <input type="file"  name="file" id="file">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
        }
        </div>

</div>